##################################################
# Build Output
##################################################

bin/
obj/
publish/

##################################################
# Visual Studio
##################################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

##################################################
# Visual Studio Code
##################################################

.vscode/

##################################################
# JetBrains IDEs
##################################################

.idea/

##################################################
# Logs & Temporary Files
##################################################

*.log
*.tmp

##################################################
# NuGet Packages
##################################################

*.nupkg

##################################################
# Operating System Files
##################################################

.DS_Store
Thumbs.db

##################################################
# ASP.NET Core Local Settings
##################################################

**/appsettings.Development.json

##################################################
# Frontend 
##################################################

frontend/CostControlSystem.Client/node_modules/
frontend/CostControlSystem.Client/dist/
frontend/CostControlSystem.Client/build/
